body{
	
	background-color: whitesmoke;
	margin-top:200px;
}
form{
	/*display: inline-block;*/
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: white;
	padding: 30px;
	width:480px;
	margin: auto;
}


input[type=submit]{
	background-color: black;
	color: white;
	border-color: #ced4da;
	width:200px;
	height:50px;
	border: none;
	border: 1px solid #ced4da;
	display: block;
	margin: 0 auto;
	font-size: 16px;
}

input{
	border-radius: 7px;
	height:35px ;
	width: 230px;/* para todos inputs*/
    padding-left: 3%;
	border: none;
	border: 1px solid #ced4da;
	margin-right: 20px;
   
}
input#email{
    width: 483px;
 }

label{
	display: block;
	text-align: left;
	margin-bottom: 1.5px;
	margin-top: 10px;
	padding: 0;
    margin: 0;
}

p{
	padding-top: 10px;
	padding-bottom: 10px;
	color: blue;
    text-align: center;
}

img{
	width: 25%;
}

.alinhar{
	display: flex;

}

.coluna{
	display: flex;
	flex-direction: column;
}
.naoAlinhar{
	
}
