/*Estilos para a pagina de Entrar*/

body{	
	background-color: whitesmoke;
	margin-top:200px;
}

form{
	/*display: inline-block;*/
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: white;
	padding: 30px;
	width: 400px;
	margin: auto;	
}


input[type=submit]{
	background-color: black;
	color: white;
	border-color: #ced4da;
	width:200px;
	height:40px;
	border: 1px solid #ced4da;
	font-size: 16px;
}

input{
	border-radius: 7px;
	height:35px ;
	width: 270px;
	padding-left: 3%;
	border: none;
	border: 1px solid #ced4da;
}

label{
	display: block;
	text-align: left;
	margin-left: 60px;
	margin-bottom: 1.5px;
	margin-top: 10px;
}

p{
	padding-top: 10px;
	padding-bottom: 10px;
	color: blue;
}

.space{	
	margin:auto;
}

img{
	width: 25%;
}





